/* Pages Styling */
.sidebar {
  position: relative;
  background: rgba(13, 71, 21, 0.5);
  width: 100%;
  height: fit-content;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 0.03px 0px;
  opacity: 0%;
  text-align: center;
  animation: 0.5s linear forwards slidein;
}
.page-title {
  font-size: 22px;
  color: #5d7a5d;
  margin: 16px 0px 0px 0px;
}
.page-text {
  font-size: 16px;
  color: #222222;
  line-height: 2em;
  letter-spacing: 0.12em;
}
.page-text-14 {
  font-size: 14px;
  color: #222222;
}
.page-text-gr-15 {
  font-size: 15px;
  color: #0d4715;
}
.page-text-gr-14 {
  font-size: 14px;
  color: #0d4715;
}

.page-text-gr-16 {
  font-size: 16px;
  color: #0d4715;
}

.sp-gap {
  gap: 80px;
}
@keyframes slidein {
  from {
    left: 30%;
    opacity: 0%;
  }
  to {
    left: 10px;
    opacity: 100%;
  }
}
.sidebar .content ul:nth-child(1) {
  display: none;
  list-style-type: none;
  padding: 0px;
}

.sidebar .content ul:nth-child(2) {
  padding: 0px;
  list-style: none;
  border-bottom: 3px solid #ffffff;
}
.sidebar .content ul li {
  margin: 45px 0px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-family: "roboto", serif;
}
.sidebar .content ul:nth-child(3) {
  padding: 0px;
  list-style: none;
}
.card {
  background-color: #f5f5eb;
  border-radius: 20px;
  filter: drop-shadow(-16px 30px 4px rgba(0, 0, 0, 0.1));
  width: 85%;
  z-index: 1;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.card span:nth-child(1) {
  font-size: 14px;
  color: #000000;
}
.card span:nth-child(1)::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #41644a;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 100px;
  opacity: 0%;
  animation: 0.4s linear 0.2s forwards toShow;
}
.contact-page {
  opacity: 0%;
  animation: 0.4s linear 0.2s forwards toShow;
}
.projects-tab {
  opacity: 0%;
  animation: 0.4s linear 0.2s forwards toShow;
}
@keyframes toShow {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.homepage .skill-section {
  border: 2px solid #eae7dc;
  padding: 0px;
}
.homepage .skill-section .skill-title {
  font-size: 24px;
  color: #5d7a5d;
  position: absolute;
  bottom: 185px;
  background-color: #f5f5eb;
  padding: 0px 10px;
}
.homepage .skill-section .skill-section-list {
  border-left: 2px solid #eae7dc;
}
.homepage .skill-section .skill-section-list ul {
  list-style-type: none;
  padding: 0px;
}
.homepage .skill-section .skill-section-list ul li {
  font-size: 16px;
  color: #5d7a5d;
  font-style: italic;
  line-height: 2.5em;
  transition: all 0.2s ease-in-out;
}
.homepage .skill-section .skill-section-list ul li.isActiveText {
  color: #41644a;
  font-weight: bolder;
}
.homepage .skill-section .icon-relative {
  position: relative;
}
.homepage .skill-section .icon-relative svg {
  cursor: pointer;
}
.homepage .skill-section .icon-relative .isAbsolute-icon {
  display: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 100;
}

.homepage .skill-section .icon-relative.active .isAbsolute-icon {
  display: block;
  background-color: #0d4715;
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  left: -8px;
  bottom: 0;
  top: 40px;
  padding: 2px 5px;
  animation: 0.2s linear forwards fromTop;
}
@keyframes fromTop {
  from {
    top: 40px;
  }
  to {
    top: 50px;
  }
}
.homepage .skill-section .icon-relative.active .isAbsolute-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 15px;
  left: 18px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #0d4715;
}

.footer-box {
  height: 100%;
  width: 50%;
  margin: 80px auto 0px auto;
  background-color: #41644a;
  padding: 5px 30px;
  text-align: center;
}

.footer-box p {
  font-size: 16px;
  color: #ffffff;
}

.contact-page .contact-form input,
.contact-page .contact-form textarea {
  display: block;
  margin: 20px 0px 5px 0px;
  box-sizing: border-box;
  padding: 12px 15px;
  border: 1px solid #41644a;
  background: none;
  border-radius: 5px;
  resize: none !important;
}
.contact-page .contact-form input::placeholder,
.contact-page .contact-form textarea::placeholder {
  color: #41644a;
  font-size: 12px;
}

.contact-page .contact-form .condition-text {
  font-size: 12px;
  color: #222222;
}
.contact-page .contact-form .condition-text.active {
  color: #b73439;
}
.contact-page .contact-form input {
  width: 50%;
}
.contact-page .contact-form textarea {
  width: 80%;
}
.contact-page .contact-form input:focus,
.contact-page .contact-form textarea:focus {
  border: 2px solid #41644a;
}

.contact-page .contact-form label {
  font-size: 14px;
  color: #41644a;
}
.contact-page .contact-form button {
  font-size: 14px;
  color: #41644a;
  background: none;
  width: 20%;
  text-align: center;
  padding: 12px 0px;
  border: 1px solid #41644a;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.contact-page .contact-form button:hover {
  background-color: #41644a;
  color: #ffffff;
}
.projects .tab {
  gap: 40px;
}
.projects .tab .project-title {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0px;
  gap: 15px;
}

.projects .tab .project-title::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #41644a;
}

.projects .tab .lang-text {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0px;
  gap: 10px;
}

.projects .tab .lang-text::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #41644a;
  border-radius: 50%;
}
.projects .tab ul {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 0px 18px;
  line-height: 2;
}

.btn-box button {
  border: 1px solid #41644a;
  background: none;
  color: #0d4715;
  padding: 10px 0px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.18em;
  transition: all 0.3s ease-in-out;
}
.btn-box button:hover {
  background-color: #41644a;
  color: #ffffff;
}

.pos-error {
  width: 50%;
  margin: 50px auto;
}
.pos-error h2 {
  font-size: 24px;
  color: #222222;
  font-style: italic;
}
.pos-error button {
  background: none;
  border: 1px solid #41644a;
  width: 15%;
  padding: 15px 0px;
  border-radius: 10px;
  font-size: 16px;
  color: #41644a;
}
.pos-error button:hover {
  background-color: #41644a;
  color: #ffffff;
}

.spinner-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-fix .spinner-fix-content {
  background-color: #41644a;
  width: 10%;
  text-align: center;
  border-radius: 8px;
  padding: 12px 0px;
}
.spinner-fix .spinner-fix-content p {
  font-size: 18px;
  color: #ffffff;
  margin: 0px;
}
.message-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.message-fix .message-fix-content {
  position: absolute;
  background-color: #41644a;
  padding: 5px 0px 5px 15px;
  width: fit-content;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation: 0.3s linear forwards fromRight;
}
@keyframes fromRight {
  from {
    right: -20px;
  }
  to {
    right: 0px;
  }
}

.message-fix .message-fix-content p {
  color: #ffffff;
  font-size: 16px;
}
.message-fix .message-fix-content.active {
  background-color: #b73439;
}
/* Responsive Design */
@media (max-width: 1280px) {
  .main-content {
    width: 85%;
  }
  .card {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .main-content {
    width: 90%;
  }
  .card {
    min-width: 100%;
    z-index: -1;
  }
  .pos-fixed-sidebar.mob {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
  }
  .sidebar {
    width: 8%;
    position: absolute;
    padding: 10px 0px;
    height: fit-content;
    margin: 0px;
    top: 60px;
    border-top-left-radius: 20px;
    z-index: 2;
    transition: width 0.3s ease-in-out;
  }
  .sidebar.mob {
    width: 15%;
    transition: width 0.3s ease-in-out;
  }
  .sidebar.mob ul:nth-child(2),
  .sidebar.mob ul:nth-child(3) {
    display: block;
  }
  .sidebar.mob ul:nth-child(1) {
    text-align: start;
    padding-left: 10px;
  }
  @keyframes slidein {
    from {
      left: 20%;
      opacity: 0%;
    }
    to {
      left: 5%;
      opacity: 100%;
    }
  }

  .sidebar .content .below-icon svg {
    width: 30px;
    height: 30px;
  }
  .sidebar .content {
    margin: 0px;
  }
  .sidebar ul:nth-child(2),
  .sidebar ul:nth-child(3) {
    display: none;
  }

  .sidebar .content ul:nth-child(1) {
    display: block;
    position: relative;
    margin: 0px;
  }
  .sidebar .content ul:nth-child(1) li {
    margin: 0px;
  }
  .sidebar .content ul:nth-child(1) .menu-icon {
    transition: all 0.3s ease-in-out;
  }
  .sidebar .content ul:nth-child(1) .menu-icon.active {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-content {
    width: 95%;
  }
  .sidebar {
    width: 9%;
  }
  @keyframes slidein {
    from {
      left: 10%;
      opacity: 0%;
    }
    to {
      left: 2.5%;
      opacity: 100%;
    }
  }
  .sidebar.mob {
    width: 20%;
  }
  .homepage .skill-section .skill-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .homepage .skill-section .skill-main .skill-main-map {
    width: 93%;
    justify-content: space-between;
    margin-top: 50px;
  }
  .homepage .skill-section .skill-main .skill-main-map .skill-title {
    bottom: 175px;
  }
  .homepage .skill-section .skill-section-list {
    width: 100%;
    border-left: none;
    border-top: 2px solid #eae7dc;
    padding-left: 0px;
  }
  .homepage .skill-section .skill-section-list ul {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
  }
  .contact-page .contact-form input {
    width: 70%;
  }
  .contact-page .contact-form textarea {
    width: 90%;
  }

  .contact-page .contact-form .mb40 input {
    max-width: 100% !important;
    box-sizing: border-box;
  }
  .projects-tab .tab .media-768 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .projects-tab .tab .media-768 .btn-box {
    width: 50%;
  }
  .projects-tab .tab .media-768 .media-768-row {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main-content {
    width: 100%;
  }
  .card {
    border-radius: 0px;
  }
  .sidebar {
    border-radius: 0px;
    width: 12%;
  }
  @keyframes slidein {
    from {
      left: 10%;
      opacity: 0%;
    }
    to {
      left: 0;
      opacity: 100%;
    }
  }
  .homepage .skill-section .skill-main .skill-main-map .skill-title {
    bottom: 160px;
  }
  .skill-section .skill-main .skill-main-map .web-svg {
    width: 40px;
    height: 40px;
  }
  .skill-section .skill-main .skill-main-map svg {
    width: 25px;
    height: 25px;
  }
  .projects-tab .tab .media-768 .btn-box {
    width: 70%;
  }
  .projects .tab .lang-text::before {
    display: none;
  }
  .projects .tab ul {
    margin: 0px;
  }
}
