/* Pages Styling */
.sidebar {
  position: relative;
  left: 20%;
  background: rgba(13, 71, 21, 0.5);
  width: 15%;
  height: fit-content;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 0px 5px;
  opacity: 0%;
  text-align: center;
  animation: 0.5s linear 0.2s forwards slidein;
}
.page-title {
  font-size: 22px;
  color: #5d7a5d;
  margin: 16px 0px 0px 0px;
}
.page-text {
  font-size: 16px;
  color: #222222;
  line-height: 2em;
  letter-spacing: 0.12em;
}
.page-text-14 {
  font-size: 14px;
  color: #222222;
}
.page-text-gr-15 {
  font-size: 15px;
  color: #0d4715;
}
.page-text-gr-14 {
  font-size: 14px;
  color: #0d4715;
}

.page-text-gr-16 {
  font-size: 16px;
  color: #0d4715;
}

.sp-gap {
  gap: 80px;
}
.menu {
  display: none;
}
@keyframes slidein {
  from {
    left: 20%;
    opacity: 0%;
  }
  to {
    left: 10px;
    opacity: 100%;
  }
}
.sidebar .content ul:nth-child(1) {
  display: none;
}

.sidebar .content ul:nth-child(2) {
  padding: 0px;
  list-style: none;
  border-bottom: 3px solid #ffffff;
}
.sidebar .content ul li {
  margin: 45px 0px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-family: "roboto", serif;
}
.sidebar .content ul:nth-child(3) {
  padding: 0px;
  list-style: none;
}
.card {
  background-color: #f5f5eb;
  border-radius: 20px;
  filter: drop-shadow(-16px 30px 4px rgba(0, 0, 0, 0.1));
  width: 85%;
  z-index: 1;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.card span:nth-child(1) {
  font-size: 14px;
  color: #000000;
}
.card span:nth-child(1)::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #41644a;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 100px;
  opacity: 0%;
  animation: 0.4s linear 0.2s forwards toShow;
}
.contact-page {
  opacity: 0%;
  animation: 0.4s linear 0.2s forwards toShow;
}
.projects-tab {
  opacity: 0%;
  animation: 0.4s linear 0.2s forwards toShow;
}
@keyframes toShow {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.homepage .skill-section {
  border: 2px solid #eae7dc;
  padding: 0px;
  position: relative;
}
.homepage .skill-section .skill-title {
  font-size: 24px;
  color: #5d7a5d;
  position: absolute;
  /* bottom: 60px; */
  top: -40px;
  background-color: #f5f5eb;
  left: 44%;
  padding: 0px 10px;
}
.homepage .skill-section .skill-section-list {
  border-left: 2px solid #eae7dc;
}
.homepage .skill-section .skill-section-list ul {
  list-style-type: none;
  padding: 0px;
}
.homepage .skill-section .skill-section-list ul li {
  font-size: 16px;
  color: #5d7a5d;
  font-style: italic;
  line-height: 2.5em;
  transition: all 0.2s ease-in-out;
}
.homepage .skill-section .skill-section-list ul li.isActiveText {
  color: #41644a;
  font-weight: bolder;
}
.homepage .skill-section .icon-relative {
  position: relative;
}
.homepage .skill-section .icon-relative svg {
  cursor: pointer;
}
.homepage .skill-section .icon-relative .isAbsolute-icon {
  display: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 100;
}

.homepage .skill-section .icon-relative.active .isAbsolute-icon {
  display: block;
  background-color: #0d4715;
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  left: -8px;
  bottom: 0;
  top: 40px;
  padding: 2px 5px;
  animation: 0.2s linear forwards fromTop;
}
@keyframes fromTop {
  from {
    top: 40px;
  }
  to {
    top: 50px;
  }
}
.homepage .skill-section .icon-relative.active .isAbsolute-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 15px;
  left: 18px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #0d4715;
}

.footer-box {
  height: 100%;
  width: 50%;
  margin: 80px auto 0px auto;
  background-color: #41644a;
  padding: 5px 30px;
  text-align: center;
}

.footer-box p {
  font-size: 16px;
  color: #ffffff;
}

.contact-page .contact-form input,
.contact-page .contact-form textarea {
  display: block;
  margin: 20px 0px 40px 0px;
  box-sizing: border-box;
  padding: 12px 15px;
  border: 1px solid #41644a;
  background: none;
  border-radius: 5px;
  resize: none !important;
}
.contact-page .contact-form input::placeholder,
.contact-page .contact-form textarea::placeholder {
  color: #41644a;
  font-size: 12px;
}

.contact-page .contact-form input {
  width: 50%;
}
.contact-page .contact-form textarea {
  width: 80%;
}

.contact-page .contact-form label {
  font-size: 14px;
  color: #41644a;
}
.contact-page .contact-form button {
  font-size: 14px;
  color: #41644a;
  background: none;
  width: 20%;
  text-align: center;
  padding: 12px 0px;
  border: 1px solid #41644a;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.contact-page .contact-form button:hover {
  background-color: #41644a;
  color: #ffffff;
}
.projects .tab {
  gap: 40px;
}
.projects .tab .project-title {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0px;
  gap: 15px;
}

.projects .tab .project-title::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #41644a;
}

.projects .tab .lang-text {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0px;
  gap: 10px;
}

.projects .tab .lang-text::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #41644a;
  border-radius: 50%;
}
.projects .tab ul {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 0px 18px;
  line-height: 2;
}

.btn-box button {
  border: 1px solid #41644a;
  background: none;
  color: #0d4715;
  padding: 10px 0px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.18em;
  transition: all 0.3s ease-in-out;
}
.btn-box button:hover {
  background-color: #41644a;
  color: #ffffff;
}

/* Responsive Design */
